<li>
  <strong><%= task.title %></strong>
  --
  <%= task.description %>
  <% form_for task do |form| %>
    <%= form.hidden_field :completed, value: 1 %>
    <%= form.submit "Complete task" %>
  <% end %>
</li>
