<% if target.errors.any? %>
  <%= pluralize target.errors.count, "error" %> prevented your task from being created:
  <% target.errors.full_messages.each do |error_message| %>
    <li><%= error_message %></li>
  <% end %>
<% end %>
